<div class="news">
  {% if site.latest_posts != blank %}
    {%- assign latest_posts_size = site.posts | size -%}
    <div class="table-responsive" {% if site.latest_posts.scrollable and latest_posts_size > 3 %}style="max-height: 60vw"{% endif %}>
      <table class="table table-sm table-borderless">
        {% assign latest_posts = site.posts | sort: 'date' | reverse %}
        {% assign filtered_posts = "" %}
        {% for item in latest_posts %}
          {% if item.date >= "2025-01-01" %}
            {% assign filtered_posts = filtered_posts | push: item %}
          {% endif %}
        {% endfor %}
        
        {% if site.latest_posts.limit %}
          {% assign latest_posts_limit = site.latest_posts.limit %}
        {% else %}
          {% assign latest_posts_limit = filtered_posts | size %}
        {% endif %}

        {% for item in filtered_posts limit: latest_posts_limit %}
          <tr>
            <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
            <td>
              <a class="news-title" href="{{ item.pdf | relative_url }}" target="_blank" rel="noopener">
                {{ item.title }}
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No posts so far...</p>
  {% endif %}
</div>
